<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="cs" lang="cs">

<head>
	<meta http-equiv="content-type" content="text/html; charset=utf-8" />
	<meta name="author" content="Štěpán Cenek; scenek(at)macroware.cz" />
	<meta name="copyright" content="Štěpán Cenek [ssimon]" />
	<meta name="description" content="Růžena Hodaňová - výroba a půjčovna kyjovských krojů" />
	<meta name="keywords" content="kroj výšivka hody půjčovna hodové kroje kyjov mistřín kyjovský mistřínský" />
	<title>{{ page.title }} - výroba a půjčovna kyjovských krojů</title>
	<link rel="stylesheet" type="text/css" href="kyjovskekroje.css" />
	<script charset="utf-8" src="js/mixlepixle.js" type="text/javascript"></script>
<!-- 	<link rel="shortcut icon" href="/favicon.ico" type="image/x-icon" /> -->

	<!-- Custom Fonts -->
	<!-- <link href="font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css"> -->
	<link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,700,300italic,400italic,700italic&amp;subset=latin-ext" rel="stylesheet" type="text/css">
	<link href='https://fonts.googleapis.com/css?family=EB+Garamond&amp;subset=latin-ext' rel='stylesheet' type='text/css'>
</head>
<body>
	<div id="container">
		<div id="header"></div>
		<!--  <div id="menu"><a href="/pujcovna/nabidka.html" id="kk">kyjovské kroje</a><a href="/vysivka/nabidka.html" id="sv">strojová výšivka</a><a href="/kontakt.html">kontakt</a></div> -->
		<div id="menu2">
			<div id="menu2-kk">
				<!--<span class="hide">kyjovské kroje: </span>--><a href="pujcovna/nabidka.html">půjčovna krojů</a><a href="pujcovna/vyroba.html">výroba krojů</a><a href="pujcovna/dejiny.html">dějiny kyjovského kroje</a><a href="pujcovna/ukazky.html">ukázka našich krojů</a><a href="pujcovna/cenik.html">ceník výpůjček</a><a href="pujcovna/kontakt.html">kontakt</a>
			</div>
			<!--    <div id="menu2-sv"><span class="hide">strojová výšivka: </span><a href="/vysivka/nabidka.html">nabídka strojové výšivky</a><a href="/vysivka/ukazky.html">ukázka vytvořených výšivek</a><a href="/vysivka/cenik.html">ceník výšivek</a></div>-->
		</div>
		<div id="main">
{{ content }}
		</div>
		<div id="footer">(c) 1998-2019 Růžena Hodaňová, výroba a půjčovna kyjovských krojů / <a href="http://www.macroware.cz" title="Macroware s.r.o., profesionální webhosting">Macroware webhosting</a></div>
	</div>
	<script type="text/javascript">
		var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
		document.write("\<script src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'>\<\/script>" );
	</script>
	<script type="text/javascript">
		var pageTracker = _gat._getTracker("UA-901258-1");
		pageTracker._initData();
		pageTracker._trackPageview();
		</script>
	</body>
</html>
